{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a freelance English-language editor. I offer academic (research) editing, copy editing, and proofreading services. Armed with a Master’s degree in Computer Science and a passion for languages, I focus on enabling clear, correct, and coherent communication.</h3>
	<h4>
          When I’m not donning the editor’s hat, I’m exploring a new place or writing about my travels.


Services Offered:
<ul>
  <li> For researchers: Copy editing and proofreading of research manuscripts and technical papers (Field of Specialization: Computer Science)
  <li> For non-profit organizations: Copy editing and proofreading of newsletters, flyers, reports, and social media and website content.
  <li> For companies: Copy editing and proofreading of technical presentations, newsletters, reports, and social media and website content.
</ul>
</h4>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
